<div class="dropdown is-pulled-right is-align-items-center">
  <span class="is-align-items-center mr-2">Sort by</span>
  <div class="dropdown-trigger">
    <button
      class="button is-small"
      aria-haspopup="true"
      aria-controls="dropdown-menu"
    >
      <span class="has-text-grey-lighter">Sort options</span>
      <span class="icon is-small">
        <i class="fas fa-chevron-down"></i>
      </span>
    </button>
  </div>
</div>
